/* ==========================================================================
   Syntax highlighting and formatting
   ========================================================================== */

pre.highlight {
  padding: 1em;
}

/*
   Pygments.rb and Rouge
   ========================================================================== */

.highlight {
	background-color: #f0f0f0;
	font-family: $code-font;
	color: #333332;
	margin-bottom: 1.5em;
	@include rounded($border-radius);
	pre {
		position: relative;
		margin: 0;
		padding: 1em;
	}
  .hll { background-color: #ffffcc }
  .c { color: #60a0b0; font-style: italic } /* Comment */
  .err { border: 1px solid #FF0000 } /* Error */
  .k { color: #007020; font-weight: bold } /* Keyword */
  .o { color: #666666 } /* Operator */
  .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
  .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
  .cp { color: #007020 } /* Comment.Preproc */
  .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
  .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
  .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
  .gd { color: #A00000 } /* Generic.Deleted */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: #FF0000 } /* Generic.Error */
  .gh { color: #000080; font-weight: bold } /* Generic.Heading */
  .gi { color: #00A000 } /* Generic.Inserted */
  .go { color: #888888 } /* Generic.Output */
  .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
  .gt { color: #0044DD } /* Generic.Traceback */
  .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
  .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
  .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
  .kp { color: #007020 } /* Keyword.Pseudo */
  .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
  .kt { color: #902000 } /* Keyword.Type */
  .m { color: #40a070 } /* Literal.Number */
  .s { color: #4070a0 } /* Literal.String */
  .na { color: #4070a0 } /* Name.Attribute */
  .nb { color: #007020 } /* Name.Builtin */
  .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
  .no { color: #60add5 } /* Name.Constant */
  .nd { color: #555555; font-weight: bold } /* Name.Decorator */
  .ni { color: #d55537; font-weight: bold } /* Name.Entity */
  .ne { color: #007020 } /* Name.Exception */
  .nf { color: #06287e } /* Name.Function */
  .nl { color: #002070; font-weight: bold } /* Name.Label */
  .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
  .nt { color: #062873; font-weight: bold } /* Name.Tag */
  .nv { color: #bb60d5 } /* Name.Variable */
  .ow { color: #007020; font-weight: bold } /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */
  .mb { color: #40a070 } /* Literal.Number.Bin */
  .mf { color: #40a070 } /* Literal.Number.Float */
  .mh { color: #40a070 } /* Literal.Number.Hex */
  .mi { color: #40a070 } /* Literal.Number.Integer */
  .mo { color: #40a070 } /* Literal.Number.Oct */
  .sa { color: #4070a0 } /* Literal.String.Affix */
  .sb { color: #4070a0 } /* Literal.String.Backtick */
  .sc { color: #4070a0 } /* Literal.String.Char */
  .dl { color: #4070a0 } /* Literal.String.Delimiter */
  .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
  .s2 { color: #4070a0 } /* Literal.String.Double */
  .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
  .sh { color: #4070a0 } /* Literal.String.Heredoc */
  .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
  .sx { color: #c65d09 } /* Literal.String.Other */
  .sr { color: #235388 } /* Literal.String.Regex */
  .s1 { color: #4070a0 } /* Literal.String.Single */
  .ss { color: #517918 } /* Literal.String.Symbol */
  .bp { color: #007020 } /* Name.Builtin.Pseudo */
  .fm { color: #06287e } /* Name.Function.Magic */
  .vc { color: #bb60d5 } /* Name.Variable.Class */
  .vg { color: #bb60d5 } /* Name.Variable.Global */
  .vi { color: #bb60d5 } /* Name.Variable.Instance */
  .vm { color: #bb60d5 } /* Name.Variable.Magic */
  .il { color: #40a070 } /* Literal.Number.Integer.Long */
}

/*
   Coderay
   ========================================================================== */

.CodeRay {
  background-color: #efefef;
  font-family: $code-font;
  @include font-size(12);
  color: #333332;
  margin-bottom: 1.5em;
  @include rounded(4px);
  pre {
    margin: 0px;
    padding: 1em;
  }
}

div.CodeRay { }
span.CodeRay { white-space: pre; border: 0px; padding: 2px }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td {
  padding: 1em 0.5em;
  vertical-align: top;
}

ol.CodeRay { font-size: 10pt }
ol.CodeRay li { white-space: pre }

.CodeRay {

	.line-numbers,
	.no {
	  background-color: #ececec;
	  color: #aaa;
	  text-align: right;
	}

	.line-numbers a {
	  color: #aaa;
	}

	.line-numbers tt { font-weight: bold }
	.line-numbers .highlighted { color: red }
	.line { display: block; float: left; width: 100%; }
	span.line-numbers { padding: 0 24px 0 4px }
	.code { width: 100% }

	.code pre { overflow: auto }
  .debug { color: white !important; background: blue !important; }
	.annotation { color: #007 }
	.attribute-name { color: #f08 }
	.attribute-value { color: #700 }
	.binary { color: #509; font-weight: bold }
	.comment  { color: #998; font-style: italic;}
	.char { color: #04d }
	.char .content { color: #04d }
	.char .delimiter { color: #039 }
	.class { color: #458; font-weight: bold }
	.complex { color: #a08; font-weight: bold }
	.constant { color: teal; }
	.color { color: #0a0 }
	.class-variable { color: #369 }
	.decorator { color: #b0b; }
	.definition { color: #099; font-weight: bold }
	.directive { color: #088; font-weight: bold }
	.delimiter { color: black }
	.doc { color: #970 }
	.doctype { color: #34b }
	.doc-string { color: #d42; font-weight: bold }
	.escape  { color: #666; font-weight: bold }
	.entity { color: #800; font-weight: bold }
	.error { color: #f00; background-color: #faa }
	.exception { color: #c00; font-weight: bold }
	.filename { color: #099; }
	.function { color: #900; font-weight: bold }
	.global-variable { color: teal; font-weight: bold }
	.hex { color: #058; font-weight: bold }
	.integer  { color: #099; }
	.include { color: #b44; font-weight: bold }
	.inline { color: black }
	.inline .inline { background: #ccc }
	.inline .inline .inline { background: #bbb }
	.inline .inline-delimiter { color: #d14; }
	.inline-delimiter { color: #d14; }
	.important { color: #f00; }
	.interpreted { color: #b2b; font-weight: bold }
	.instance-variable { color: teal }
	.label { color: #970; font-weight: bold }
	.local-variable { color: #963 }
	.octal { color: #40e; font-weight: bold }
	.operator { }
	.predefined-constant { font-weight: bold }
	.predefined { color: #369; font-weight: bold }
	.preprocessor { color: #579; }
	.pseudo-class { color: #00c; font-weight: bold }
	.predefined-type { color: #074; font-weight: bold }
	.reserved,
	.keyword { color: #000; font-weight: bold }

	.key { color: #808; }
	.key .delimiter { color: #606; }
	.key .char { color: #80f; }
	.value { color: #088; }

	.regexp { background-color: #fff0ff }
	.regexp .content { color: #808 }
	.regexp .delimiter { color: #404 }
	.regexp .modifier { color: #c2c }
	.regexp .function  { color: #404; font-weight: bold }

	.string { color: #d20; }
	.string .string { }
	.string .string .string { background-color: #ffd0d0 }
	.string .content { color: #d14; }
	.string .char { color: #d14; }
	.string .delimiter { color: #d14; }

	.shell { color: #d14 }
	.shell .content { }
	.shell .delimiter { color: #d14 }

	.symbol { color: #990073 }
	.symbol .content { color: #a60 }
	.symbol .delimiter { color: #630 }

	.tag { color: #070 }
	.tag-special { color: #d70; font-weight: bold }
	.type { color: #339; font-weight: bold }
	.variable { color: #036 }

	.insert { background: #afa; }
	.delete { background: #faa; }
	.change { color: #aaf; background: #007; }
	.head { color: #f8f; background: #505 }

	.insert .insert { color: #080; font-weight: bold }
	.delete .delete { color: #800; font-weight: bold }
	.change .change { color: #66f; }
	.head .head { color: #f4f; }
}
